@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.anchor {
  width: 60px;
  height: 60px;
  background-color: #ffe600;
  border: 0;
  cursor: pointer;
}

.button {
  background-color: #ffe600;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #707070;
  text-align: center;
}

.separator {
  margin: 25px auto;
  height: 3px;
  width: 170px;
  display: block;
  background-color: #ffe600;
}

.link-separator {
  margin: 0 24px;
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #ffe600;
}

.link-separator:last-child {
  display: none;
}

.header {
  height: 100px;
  background-color: #122a2f;
}

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 59px;
  width: 109px;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  color: #fff;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header__link:hover {
  color: #ffe600;
}

.intro {
  height: 100vh;
  background-color: #11343a;
  position: relative;
}

.intro__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.intro__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__content {
  height: 370px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #122a2f;
}

.intro__title {
  font-size: 64px;
  color: #fff;
  font-weight: bold;
}

.intro__button {
  width: 230px;
  height: 58px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe600;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.intro__button:hover {
  background-color: transparent;
  color: #fff;
  outline: 2px solid #ffe600;
}

.intro__anchor {
  position: absolute;
  bottom: 0;
}

.services {
  padding: 60px 0;
}

.services__body {
  max-width: 970px;
  margin: 0 auto;
}

.services__subtitle {
  margin: 0 0 25px 0;
}

.services__text {
  margin: 0 0 60px 0;
}

.services__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 30px;
}

.services__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(25% - 30px);
      -ms-flex: 0 0 calc(25% - 30px);
          flex: 0 0 calc(25% - 30px);
}

.services__item:last-child {
  margin: 0;
}

.services__item-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #ffe600;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 0 25px 0;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.services__item-icon:hover {
  background-color: transparent;
  border: 1px solid #000;
  fill: #000;
}

.services__item-img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__item-title {
  margin: 0 0 25px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.services__item-text {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #707070;
  text-align: center;
}

.how {
  padding: 60px 0;
  background-color: #131a1d;
}

.how__title {
  color: #ffe600;
  margin: 0 0 30px 0;
}

.how__text {
  color: #fff;
  margin: 0 0 60px 0;
}

.how__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 30px;
}

.how__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(16.666% - 30px);
      -ms-flex: 0 0 calc(16.666% - 30px);
          flex: 0 0 calc(16.666% - 30px);
}

.how__item-img {
  margin: 0 0 30px 0;
}

.how__item-title {
  margin: 0 0 25px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.how__item-text {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #707070;
  text-align: center;
  color: #fff;
}

.works {
  padding: 60px 0;
  background: #fff;
}

.works__container {
  height: 100%;
}

.works__body {
  max-width: 970px;
  margin: 0 auto;
}

.works__subtitle {
  margin: 0 0 25px 0;
}

.works__title {
  text-align: center;
}

.works__text {
  margin: 0 0 60px 0;
}

.works__categories {
  margin: 0 0 60px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.works__categories .active {
  color: #ffe600;
}

.works__category {
  font-size: 16px;
  text-transform: uppercase;
  color: #515151;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.works__category:hover {
  color: #ffe600;
}

.works__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__card-body {
  padding: 70px 30px;
  position: relative;
}

.works__card-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.works__card-title {
  margin: 0 0 25px 0;
  font-size: 25px;
  color: #515151;
}

.works__card-text {
  margin: 0 0 25px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #707070;
}

.works__card-button {
  width: 170px;
  height: 60px;
  color: #fff;
}

.works__card-button:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.gallery__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.gallery__photo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 320px;
      -ms-flex: 1 0 320px;
          flex: 1 0 320px;
  height: 250px;
  background-color: #11343a;
}

.gallery__photo:nth-child(odd) {
  background-color: #394948;
}

.gallery__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.statistics {
  padding: 60px 0;
  background-color: #131a1d;
}

.statistics__title {
  color: #fff;
  margin: 0 0 25px 0;
}

.statistics__text {
  color: #fff;
  margin: 0 0 60px 0;
}

.statistics__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 30px;
}

.statistics__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc((100% / 4) - 30px);
      -ms-flex: 0 0 calc((100% / 4) - 30px);
          flex: 0 0 calc((100% / 4) - 30px);
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ffe600;
}

.statistics__item span {
  margin: 15px 0 0 0;
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #ffe600;
}

.about {
  padding: 60px 0;
}

.about__body {
  max-width: 970px;
  margin: 0 auto;
}

.about__subtitle {
  margin: 0 0 25px 0;
}

.about__text {
  margin: 0 0 100px 0;
  text-align: center;
}

.about__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 40px;
}

.about__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc((100% / 2) - 40px);
      -ms-flex: 0 0 calc((100% / 2) - 40px);
          flex: 0 0 calc((100% / 2) - 40px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about__item-icon {
  margin: 0 30px 0 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ffe600;
}

.about__item-title {
  margin: 0 0 15px 0;
  font-size: 16px;
  color: #515151;
  text-transform: uppercase;
}

.about__item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #707070;
}

.footer {
  height: 180px;
  padding: 25px 0;
  background-color: #131316;
  position: relative;
}

.footer__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.footer__copyright span {
  color: #ffe600;
}

.footer__anchor {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
